:root {
	--clr-bg-hsl: 0, 0%, 12%;
	--clr-bg-dark-hsl: 0, 0%, 0%;
	--clr-bg-light-hsl: 0, 0%, 24%;
	--clr-font-hsl: 0, 0%, 95%;
	--clr-accent-hsl: 193, 95%, 68%;
	--clr-bg: hsl(var(--clr-bg-hsl));
	--clr-bg-dark: hsl(var(--clr-bg-dark-hsl));
	--clr-bg-light: hsl(var(--clr-bg-light-hsl));
	--clr-font: hsl(var(--clr-font-hsl));
	--clr-accent: hsl(var(--clr-accent-hsl));
}

* {
	box-sizing: border-box;
	font-family: inherit;
}

button,
.btn {
	cursor: pointer;
}

body {
	margin: 0;
	background: hsl(0 0% 12%);
	color: hsl(0 0% 92%);

	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
nav {
	text-transform: capitalize;
}
